// 
// Base
// 

@import "../variables";

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	background-color: $color-white;
	font: $font-weight #{$font-size}/#{$line-height} $font-family;
	color: $font-color;
	margin: 0;
	padding: 0;
}
